.popup__container {
    position: relative;
    max-width: 358px;
    max-height: 330px;
    width: 100%;
    padding: 34px 36px 37px;
    background-color: white;
    border-radius: 10px;
}

@media all and (max-width: 1023px) {
    .popup__container {
        padding: 0;
        max-width: 238px;
        max-height: 322px;
    }
} 