.popup__button {
    max-width: 358px;
    width: 100%;
    background-color: black;
    margin-top: 48px;
    padding: 14px 0 18px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    outline: none;
    border: none;
    border-radius: 2px;
}

.popup__button:hover {
    opacity: 80%;
}

@media all and (max-width: 1023px) {
    .popup__button {
        max-width: 238px;
        margin: 45px auto 0;
        padding: 14px 0;
        font-size: 14px;
    }
}