.header__logo {
    max-width: 142px;
    padding-bottom: 41px;
}

@media all and (max-width: 1023px) {
    .header__logo {
        max-width: 104px;
        padding-left: 27px;
        padding-bottom: 32px;
    }
}