.form-profile__text-error {
    min-height: 15px;
    width: 358px;
    margin: 0;
    padding: 0;
    color: #FF0000;
    font-family: Inter;
    font-style: Regular;
    font-size: 12px; 
    line-height: 1.25; 
    display: block;
}

@media all and (max-width: 1023px) {
    .form-profile__text-error {
        width: 238px;  
    } 
}