.profile__info {
    width: 370px;
    width: 100%;
    height: auto;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

@media all and (max-width: 1023px) {
    .profile__info {
        max-width: 282px;
        margin: 0 auto;
        padding: 0;
        padding-top: 26px;
        padding-bottom: 36px;
        align-items: center;
    }
}