.profile__info {
    max-width: 370px;
    width: 100%;
    /* width: max-content; */
    max-height: 73px;
    height: 100%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media all and (max-width: 1023px) {
    .profile__info {
        max-width: 282px;
        height: 54px;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 36px;
        align-items: center;
    }
}