.form-profile__text {
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
    max-width: 358px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    border: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 9px;
}